<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- Not needed if using annotation based controller -->
	<!--<bean id="HandlerMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>	
	 <bean name="/welcome" class="com.school.controller.WelcomeController" /> -->

	<context:component-scan base-package="com.school.controller"/>
	<mvc:annotation-driven/>
    
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value> org.springframework.web.servlet.view.tiles2.TilesView</value>
		</property>
			
	</bean>

	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>
	 <!-- declare beans -->  
	 <bean id="studentDao" class="com.school.dao.StudentDaoImpl" />  
	 <bean id="studentService" class="com.school.services.StudentServiceImpl" />  
	  
	 <!-- declare datasource bean -->  
	 <bean id="dataSource"  
	  class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
	  <property name="driverClassName" value="com.mysql.jdbc.Driver" />  
	  <property name="url" value="jdbc:mysql://localhost:3306/school" />  
	  <property name="username" value="root" />  
	  <property name="password" value="rupali1985" />  
	 </bean>  
</beans>
